<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.peanart.Board.dao.BoardDAO">
    <select id="getBoardList" resultType="BoardVO">
        SELECT * FROM tb_exhibit
    </select>

    <select id="getExhibInfo" parameterType="int" resultType="ExhibitRegisterVO">
        SELECT * FROM tb_exhibit
        WHERE exhib_seq = #{exhibSeq}
    </select>

    <select id="getFile" parameterType="int" resultType="FileVO">
        SELECT * FROM tb_file_exhibit
        WHERE exhib_seq = ${exhibSeq}
    </select>

    <select id="getUserInfo" parameterType="int" resultType="MyPageVO">
        SELECT A.usr_seq, A.usr_id, A.usr_phone, A.usr_nickname, A.usr_name, A.usr_adrs, B.file_dir_name, B.file_name
        FROM tb_user A
        LEFT JOIN tb_file_user B
        ON A.usr_seq = B.usr_seq
        WHERE A.usr_seq = #{usrSeq}
    </select>
    <select id="getReview" parameterType="int" resultType="ReviewVO">
        SELECT A.rev_seq, A.usr_seq, A.exhib_seq, A.rev_content, A.rev_cret_date, A.rev_mod_date, B.usr_nickname, C.file_dir_name, C.file_name FROM tb_review A
        JOIN tb_user B ON A.usr_seq = B.usr_seq
        JOIN tb_file_user C ON B.usr_seq = C.usr_seq
        WHERE exhib_seq = ${exhibSeq};
    </select>

    <insert id="regReview" >
        INSERT INTO tb_review
        (
        usr_seq, exhib_seq, rev_content, rev_cret_date, rev_mod_date
        )
        values
        (
        #{usrSeq}, #{exhibSeq}, #{revContent}, SYSDATE(), SYSDATE()
        )
    </insert>

    <update id="modExhib">
        UPDATE tb_exhibit
        SET (
            exhib_title, exhib_kind, exhib_theme, exhib_simple_exp, exhib_detail_exp,
            exhib_start_date, exhib_end_date, exhib_location, exhib_uri, usr_seq,
            exhib_cret_date, exhib_mod_date,  file_dir_name, file_name, goods_allow
        )
            =
            (
            #{exhibTitle}, #{exhibKind}, #{exhibTheme}, #{exhibSimpleExp}, #{exhibDetailExp},
            #{exhibStartDate}, #{exhibEndDate}, #{exhibLocation}, #{exhibUri}, #{usrSeq},
            #{exhibCretDate}, SYSDATE(), #{exhibPosterFileDirName},#{exhibPosterFileName}, #{goodsAllow}
        )   WHERE usr_Seq = (
                SELECT usr_seq from tb_exhibit
                WHERE exhib_seq = ${exhibSeq}
                )
    </update>

    <delete id="deleteExhib">
        delete from tb_exhibit
        where exhib_seq = #{exhibSeq}
    </delete>

    <delete id="deleteFiles">
        delete from tb_file_exhibit
        where exhib_seq = #{exhibSeq} AND file_uuid = #{fileUuid}
    </delete>
</mapper>
