<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.peanart.member.dao.MemberDAO">
    <select id="loginCheck" resultType="MemberVO">
        select usr_seq, usr_id, usr_pw, usr_nickname, usr_name, usr_adrs
        from tb_user
        where usr_id = #{usrId} and usr_pw = #{usrPw}
    </select>

    <insert id="join">
        insert tb_user
            (
                usr_id, usr_pw, usr_phone, usr_nickname, usr_name, usr_adrs, usr_cret_date, usr_mod_date
            )
        values
            (
                #{usrId}, #{usrPw}, #{usrPhone}, #{usrNickname}, #{usrName}, #{usrAdrs}, SYSDATE(), SYSDATE()
            )
    </insert>

    <select id="idCheck" resultType="MemberVO">
        select * from tb_user where usr_id = #{usrId}
    </select>

    <select id="nicknameCheck" resultType="MemberVO">
        select * from tb_user where usr_nickname = #{usrNickname}
    </select>


</mapper>
