<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.peanart.mypage.dao.MyPageDAO">
    <select id="getUserInfo" resultType="MyPageVO">
        SELECT A.usr_seq, A.usr_id, A.usr_phone, A.usr_nickname, A.usr_name, A.usr_adrs, B.file_dir_name, B.file_name
        FROM tb_user A
            LEFT JOIN tb_file_user B
            ON A.usr_seq = B.usr_seq
        WHERE A.usr_seq = #{usrSeq}
    </select>
</mapper>


        <!--
        <mapper namespace="com.example.demo.model.aws.dao.TestMapper">

            <select id="getAllDataList" resultType="com.example.demo.model.aws.dto.portfolio">
                SELECT * FROM portfolio;
            </select>

        </mapper>
        -->