<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.peanart.mypage.dao.MyPageDAO">
    <select id="getUserInfo" resultType="MyPageVO">
        SELECT A.usr_seq, A.usr_id, A.usr_phone, A.usr_nickname, A.usr_name, A.usr_adrs, B.file_dir_name, B.file_name
        FROM tb_user A
            LEFT JOIN tb_file_user B
            ON A.usr_seq = B.usr_seq
        WHERE A.usr_seq = #{usrSeq}
    </select>

    <insert id="setProfileImg" useGeneratedKeys="true" keyProperty="fileUsrSeq">
        INSERT INTO tb_file_user
        (
            usr_seq, file_dir_name, file_name, file_usr_cret_date
        )
        VALUES
        (
            #{usrSeq}, #{fileDirName}, #{fileName}, SYSDATE()
        )
    </insert>

    <update id="updateProfileImg">
        UPDATE tb_file_user
        SET file_dir_name = #{fileDirName}, file_name = #{fileName}, file_usr_cret_date = SYSDATE()
        WHERE usr_seq = #{usrSeq}
    </update>

    <select id="isThereImg" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM tb_file_user
        WHERE usr_seq = #{usrSeq}
    </select>

    <select id="getProfileImg" resultType="MyPageFileVO">
        SELECT file_dir_name, file_name
        FROM tb_file_user
        WHERE usr_seq = #{usrSeq}
    </select>


    <select id="getFollowList" resultType="MyPageFollowVO">
        SELECT tmp.file_dir_name, tmp.file_name, D.usr_id, D.usr_nickname
        FROM
        (SELECT A.usr_seq, A.usr_id, B.followed_usr_seq, C.file_dir_name, C.file_name
        FROM tb_user A
        LEFT JOIN tb_user_follow B
        ON A.usr_seq = B.usr_seq
        JOIN tb_file_user C
        ON B.followed_usr_seq = C.usr_seq
        WHERE A.usr_seq = #{usrSeq}) AS tmp
        LEFT JOIN tb_user D
        ON tmp.followed_usr_seq = D.usr_seq
    </select>

    <select id="getExhibList" resultType="MyPageExhibVO">
        SELECT DISTINCT tmp.usr_seq, tmp.exhib_seq, tmp.exhib_title, tmp.file_dir_name, tmp.file_name
        FROM
        (SELECT C.usr_seq, A.exhib_seq, A.exhib_title, A.file_dir_name, A.file_name
        FROM tb_exhibit A
        LEFT JOIN tb_review B
        ON A.exhib_seq = B.exhib_seq
        LEFT JOIN tb_user C
        ON B.usr_seq = C.usr_seq
        WHERE C.usr_seq = #{usrSeq}
        ORDER BY B.rev_cret_date) AS tmp
    </select>

</mapper>


