<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function exhibRegister(){
            document.exhibRegiform.method = "POST";
            document.exhibRegiform.action = "/exhib/register";
            document.exhibRegiform.submit();
        }

        function concatURI(a, b, c ){
            a.concat(b,c);
            return a;
        }

    </script>
</head>
<body>

<form id = "exhibRegiform" name="exhibRegiform" enctype="multipart/form-data">

    전시회 이름: <input type="text" name="exhibTitle" th:value="${map.exhib.exhibTitle}"/>
    <br>
    전시회 종류: <input type="text" name="exhibKind" th:value="${map.exhib.exhibKind}">
    <br>
    전시 테마: <input type="text" name="exhibTheme" th:value="${map.exhib.exhibTheme}">
    <br>
    간략 설명 : <input type="text" name="exhibSimpleExp" th:value="${map.exhib.exhibSimpleExp}">
    <br>
    자세한 설명: <input type="text" name="exhibDetailExp" th:value="${map.exhib.exhibDetailExp}">
    <br>
    전시 시작일: <input type="text" name="exhibStartDate" th:value="${map.exhib.exhibStartDate}">
    <br>
    전시 종료일: <input type="text" name="exhibEndDate" th:value="${map.exhib.exhibEndDate}">
    <br>
    전시 위치 : <input type="text" name="exhibLocation" th:value="${map.exhib.exhibLocation}">
    <br>
    전시회 홈페이지 주소: <input type="text" name="exhibUri" th:value="${map.exhib.exhibUri}">
    <br>
    굿즈 여부(int) : <input type="text" name="goodsAllow" th:value="${map.exhib.goodsAllow}">
    <br>

    전시회 포스터 사진:
    <img th:src="|${imgPath}/${map.exhib.fileDirName}/${map.exhib.fileName}|" alt="Poster Image" />


    <input type="file" name="posterFile">

    <br>
    전시 사진:
    <input type="file" name="uploadFile" multiple="multiple">

    <br>
    <button onclick="exhibRegister();">exhibRegister</button>
</form>
</body>
</html>